<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223116451012-qlkc1jgbspo4esuhqlqne5meis5e6hts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223116451012-qlkc1jgbspo4esuhqlqne5meis5e6hts</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223116451012-g2ti0cj0nvoq0jp7u2mnkrbrpco37i6v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkYDQk32AbGxD9gLxKktSaFkvXPsRn7Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>223116451012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileDevLab2</string>
	<key>PROJECT_ID</key>
	<string>shazam-beb8c</string>
	<key>STORAGE_BUCKET</key>
	<string>shazam-beb8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223116451012:ios:b858dbcbb80cc2ef907d91</string>
</dict>
</plist>